/*
* @Author: U
* @Date:   2018-04-19 14:22:20
* @Last Modified by:   U
* @Last Modified time: 2018-04-25 15:36:33
*/

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	color: #666;
	background-color: #f3f3f3;
	overflow-x: hidden;
}
div.header{
	z-index: 10000;
    height: 50px;
    -webkit-transition: background-color .5s linear;
            transition: background-color .5s linear;
    border: none;
    background-color: #293c55;
    position: fixed;
    right: 0;
    left: 0;
}
div.header .navbar-logo{
	height: 32px;
    margin-top: 10px;
    margin-left: 15px;
}
div.left-nav{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    width: 180px;
    padding-top: 51px;
    background-color: #293c55;
}
div.left-nav:hover{
	overflow-y: auto;
}
div.left-nav li{
	height: 54px;
    padding: 10px 0 10px 20px;
    -webkit-transition: .5s;
    transition: .5s;
}
div.left-nav li a{
	position: relative;
    display: block;
    -webkit-transition: .5s;
            transition: .5s;
    color: #ccc;
}
div.left-nav li a .name{
	position: relative;
    top: -12px;
    display: inline-block;
    margin-left: 10px;
}
div.left-nav li a .icon{
	display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #999;
    -webkit-border-radius: 50%;
    		border-radius: 50%;
    background-image: url('../images/chart-icon.png');
    background-repeat: no-repeat;
    background-size: 32px;
}
div.left-nav li.active{
	background-color: #e43c59;
}
div.left-nav li.active a{
	color: #f3f3f3;
}
div.left-nav li.active .icon{
	color: #f3f3f3;
	border-color: #f3f3f3;
}
div.left-nav li:hover{
	background-color: #162436;
}
ul li a.chart-line .icon{
	background-position-x: -1px;
    background-position-y: -1px;
}
ul li a.chart-bar .icon{
	background-position-x: -1px;
    background-position-y: -33px;
}
div.chart-panel{
	margin: 30px 15px 30px 15px;
}
div.chart-panel h3{
	margin-bottom: 20px;
}
div.chart-panel .chart-row-line,h3{
	clear: both;
}
div.chart-panel .chart-list-line{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 260.83px;
    height: 236.46px;
    float: left;
}

div.chart-panel .chart{
	width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
div.chart-panel .chart .chart-link{
	position: relative;
    display: block;
}
div.chart-panel .chart .chart-link .chart-area{
	width: 100%;
    height: 100%;
    padding: 8px;
}
div.chart-panel .chart .chart-link .chart-title{
	font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    margin: 0;
    padding: 10px 10px 2px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #293c55;
}
div.container{
	margin-left: 180px;
    padding: 51px 20px;
}

/*
 *edit 
 *css 
 */
#main-container
{
    position: absolute;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;;
}

#main-container .handler
{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 5px;

    cursor: col-resize;

    border-left: 1px solid #ccc;
    background-color: transparent;
}

#main-container.no-top
{
    top: 0;
}

#code-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 50%;
}

#control-panel
{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    left: 0;

    height: 30px;
    padding: 0;

    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

#control-panel .setting-panel
{
    display: inline-block;
}

#control-panel .setting-panel .btn-group + .btn-group
{
    margin-left: 10px;
}

#control-panel .control-btn-panel
{
    float: right;
}

#control-panel .control-btn-panel .btn
{
    width: 50px;
    height: 30px;
    margin-left: 10px;

    color: #fff;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #3fa7dc;
}

#control-panel .control-btn-panel .btn:hover
{
    background-color: #277eab;
}

#code-panel
{
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 10px;
}

#code-panel ::-webkit-scrollbar
{
    width: 8px;
    height: 8px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    -webkit-border-radius: 2px;
            border-radius: 2px;
}

#code-panel ::-webkit-scrollbar-button
{
    display: none;
}

#code-panel ::-webkit-scrollbar-thumb
{
    width: 8px;
    min-height: 15px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: rgba(50, 50, 50, .6) !important;
}

#code-panel ::-webkit-scrollbar-thumb:hover
{
    background: rgba(0, 0, 0, .5) !important;
}

#code-info
{
    font-size: .9rem;
    line-height: 30px;

    position: absolute;
    bottom: 0;

    overflow: hidden;

    height: 30px;
    padding: 0 10px;
}

#code-info .code-info-time
{
    display: inline-block;

    margin-right: 10px;

    color: #666;
}

#code-info .code-info-type-info
{
    color: #666;
}

#code-info .code-info-type-warn
{
    color: #f93;
}

#code-info .code-info-type-error
{
    color: #e43c59;
}

#toolbar
{
    position: fixed;
    z-index: 200;
    right: 0;

    width: 500px;
    height: 30px;
    margin-top: 20px;
}

#theme
{
    float: right;

    margin-right: 30px;
}

#theme > span
{
    font-size: 16px;
    font-weight: bold;

    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;;
}

#theme a
{
    display: inline-block;
    display: inline-block;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 30px;
    height: 30px;
    margin: 0 5px;

    cursor: pointer;
    vertical-align: middle;

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: #fff;
}

#theme a span
{
    display: inline-block;

    width: 26px;
    height: 26px;
    margin-top: 2px;
    margin-left: 2px;
}

#theme a:hover
{
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
            box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

#theme a.selected
{
    border: 1px solid #e43c59;
}

#theme a.default span
{
    background: #c23531;
    background: -webkit-linear-gradient(-45deg, #de7e7b 0%, #c23531 50%, #2f4554 51%, #547b95 100%);
    background: -webkit-linear-gradient(315deg, #de7e7b 0%, #c23531 50%, #2f4554 51%, #547b95 100%);
    background:         linear-gradient(135deg, #de7e7b 0%, #c23531 50%, #2f4554 51%, #547b95 100%);
}

#theme a.light span
{
    background: #37a2da;
    background: -webkit-linear-gradient(-45deg, #8dcaea 0%, #37a2da 50%, #ffd85c 51%, #fff0c2 100%);
    background: -webkit-linear-gradient(315deg, #8dcaea 0%, #37a2da 50%, #ffd85c 51%, #fff0c2 100%);
    background:         linear-gradient(135deg, #8dcaea 0%, #37a2da 50%, #ffd85c 51%, #fff0c2 100%);
}

#theme a.dark
{
    background: #333;
}

#theme a.dark span
{
    background: #dd6b66;
    background: -webkit-linear-gradient(-45deg, #f0bcb9 0%, #dd6b66 50%, #759aa0 51%, #b1c6ca 100%);
    background: -webkit-linear-gradient(315deg, #f0bcb9 0%, #dd6b66 50%, #759aa0 51%, #b1c6ca 100%);
    background:         linear-gradient(135deg, #f0bcb9 0%, #dd6b66 50%, #759aa0 51%, #b1c6ca 100%);
}

#toolbar #theme
{
    padding: 4px 10px;

    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

#toolbar #theme.dark
{
    color: #fff;
    background: #222;
}

.popover-title
{
    color: #000;
}

.theme-palette
{
    font-size: 18px;

    color: #000;
}

.theme-palette span
{
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.dg.main *
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.dg.main input
{
    line-height: normal;
}

.dg.main.a
{
    overflow-x: visible;
}

.right-container
{
    position: absolute;
    z-index: 30;
    right: 0;

    width: 50%;
    height: 100%;
    padding: 0;
    padding-left: 5px;

    border: none;
    background: #f3f3f3;
}

.right-container .right-panel
{
    padding: 10px;
    padding-left: 15px;
}

#fork-btn,
#reset-btn
{
    display: none;
}

#chart-panel
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
}

#tool-panel
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#tool-panel #theme
{
    float: right;

    margin-bottom: 10px;
}

#tool-panel #theme a
{
    cursor: pointer;
}

#tool-panel #download
{
    float: right;

    margin-right: 10px;
}

.dg.main .c select
{
    color: #000;
}

.icon-bar
{
    display: inline-block;

    margin: 0 .4rem;

    color: #ccc;
}

.icon-bar span::before
{
    position: relative;
    top: .2rem;

    margin-right: .25rem;

    color: #ccc;
}

.icon-bar:hover
{
    color: #999;
}

.icon-bar:hover span::before
{
    color: #999;
}

.profile .user-info
{
    text-align: center;
}

.profile .user-info .user-info-avatar
{
    width: 100px;
    height: 100px;

    -webkit-border-radius: 50px;
            border-radius: 50px;
}

.profile .user-info .user-info-name
{
    font-size: 2rem;
    font-weight: bold;

    margin: .5rem 0 .25rem 0;
}

.profile .user-info .user-info-data
{
    font-size: 1.5rem;
}

.profile .user-info .user-info-data ul
{
    list-style-type: none;
}
